/*------------------------------------*\
    $COMMON
\*------------------------------------*/
 * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
html {
    font-size: 100%;
}
body {
    font-family:'Actor', sans-serif;
    line-height: 1.6875;
    color: #222;
    background: #ecf0f1;
}
a {
    color: #222;
    text-decoration: underline;
}
header, .content, footer {
    padding: 32px;
    padding: 2rem;
}
header, footer {
    background: #e74c3c;
}
p, ul, ol {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
/*p:last-of-type, ul:last-child, ol:last-child {
    margin-bottom: 0;
}*/
 ul ol, ol ul, ol ol, ul ul {
    margin-bottom: 0;
}
ul, ol {
    padding-left: 24px;
    padding-left: 1.5rem;
}
h1 {
    font-size: 36px;
    font-size: 2.25rem;
}
h2 {
    font-size: 28px;
    font-size: 1.75rem;
}
h3 {
    font-size: 22px;
    font-size: 1.375rem;
}
h4 {
    font-size: 20px;
    font-size: 1.25rem;
}
h5 {
    font-size: 17px;
    font-size: 1.063rem;
}
h6 {
    font-size: 13px;
    font-size: 0.813rem;
}
blockquote {
    padding: 0 0 0 10px;
    padding: 0 0 0 0.625rem;
    border-left: 6px solid #e74c3c;
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
blockquote p:before {
    content:"\201c";
}
blockquote p:after {
    content:"\201d";
}
figure {
    margin: 16px 0 16px 0;
    margin: 1rem 0 1rem 0;
    padding: 16px;
    padding: 1rem;
    background: #e74c3c;
    border-radius: 4px;
    border-radius: 0.25rem;
}
figure img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    max-width: 31.25rem;
}
figure figcaption {
    text-align: center;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 16px 0 0 0;
    padding: 1rem 0 0 0;
}
::-moz-selection {
    background: #e74c3c;
    color: #222;
}
::selection {
    background: #e74c3c;
    color: #222;
}
/*------------------------------------*\
    $HELPER
\*------------------------------------*/
 .button {
    text-decoration: none;
    display: inline-block;
    background: #e74c3c;
    padding: 10px 16px 10px 16px;
    padding: 0.625rem 1rem 0.625rem 1rem;
    border-radius: 4px;
    border-radius: 0.25rem;
}
.module {
    background: #e74c3c;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding: 32px;
    padding: 2rem;
    border-radius: 4px;
    border-radius: 0.25rem;
}
.module p {
    margin: 0;
}
/*------------------------------------*\
    $HEADER
\*------------------------------------*/
 header {
    text-align: center;
}
.site-title {
    font-size: 50px;
    font-size: 3.125rem;
}
.site-title a {
    text-decoration: none;
}
header nav {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
header nav select {
    display: none;
}
header nav ul {
    font-size: 20px;
    font-size: 1.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    display: inline-block;
    margin: 0 7px;
    margin: 0 0.438rem;
}
/*------------------------------------*\
    $SEARCH
\*------------------------------------*/
 .icon-search {
    font-size: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}
.search-field {
    display: none;
    width: 50%;
    margin: 16px 0 0 0;
    margin: 1rem 0 0 0;
    padding: 5px 15px;
    padding: 0.313rem 0.938rem;
    font-size: 20px;
    font-size: 1.25rem;
    border: 1px solid #222;
    border-radius: 4px;
    border-radius: 0.25rem;
}
.search-field:focus {
    outline: none;
}
.search-results ul {
    list-style: none;
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 16px;
    margin-top: 1rem;
}
.search-results a {
    color: #222;
}
/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
 .content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    font-size: 1.25rem;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}
.module h1, .home h1, .post-info h1 {
    margin: 0;
}
/*------------------------------------*\
    $INDEX
\*------------------------------------*/
 .posts {
    list-style: none;
    padding: 0;
}
.posts li {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
.posts li:last-child {
    margin: 0;
}
/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
 .icon-envelope, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-github, .icon-user {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.icon-envelope:hover {
    color: #d64937;
}
.icon-google-plus:hover {
    color: #d64937;
}
.icon-facebook:hover {
    color: #3b5997;
}
.icon-twitter:hover {
    color: #38acf0;
}
.icon-github:hover {
    color: #505050;
}
.icon-user:hover {
    color: #505050;
}
.contact {
    text-align: center;
}
.social {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-size: 5rem;
}
.social a {
    color: #222;
    text-decoration: none;
}
.social li {
    display: inline-block;
}
/*------------------------------------*\
    $LABS
\*------------------------------------*/
 .lab-item {
    margin: 25px 0;
    margin: 1.563rem 0;
    overflow: hidden;
}
.lab-item img {
    max-width: 40%;
    float: left;
    vertical-align: bottom;
}
.lab-item .lab-details {
    width: 60%;
    float: left;
    padding-left: 12px;
    padding-left: 0.750rem;
}
.lab-item .button {
    margin: 4px 0;
    margin: 0.3rem 0;
}
/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/
 .pagination {
    text-align: center;
}
.pagination .disabled {
    pointer-events: none;
    opacity: 0.4;
}
.pagination .previous, .pagination .next {
    text-decoration: none;
    color: #e74c3c;
}
.pagination.home .previous, .pagination.home .next {
    font-size: 45px;
    font-size: 2.813rem;
}
.pagination.home .previous {
    margin-right: 2rem;
    margin-right: 32px;
}
.pagination.home .next {
    margin-left: 2rem;
    margin-left: 32px;
}
.pagination.post, .pagination.post a {
    font-size: 80px;
    font-size: 5rem;
}
.pagination.post .previous, .pagination.post .next {
    position: fixed;
    top: 50%;
    padding: 20px;
    padding: 1.25rem;
}
.pagination.post .previous {
    float: left;
    clear: left;
    left: 0;
}
.pagination.post .next {
    float: right;
    right: 0;
}
/*------------------------------------*\
    $VARIOUS
\*------------------------------------*/
 #disqus_thread {
    margin-top: 60px;
    margin-top: 3.75rem;
}
.codepen {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    height: 0;
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.addthis_toolbox {
    width: 216px;
    margin: 16px auto;
    margin: 1rem auto;
}
.addthis_toolbox a:hover {
    background: none;
}
.go-top {
    display: none;
    position: fixed;
    bottom: 16px;
    bottom: 1rem;
    right: 16px;
    right: 1rem;
    background: rgba(231, 76, 60, 0.5);
    text-decoration: none;
    font-size: 16px;
    font-size: 1rem;
    padding: 8px;
    padding: 0.5rem;
    border-radius: 4px;
    border-radius: 0.25rem;
}
.go-top:hover {
    background: rgba(231, 76, 60, 1);
}
/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
 footer {
    font-size: 18px;
    font-size: 1.125rem;
    text-align: center;
}
footer p {
    margin: 0;
}
/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
 @media only screen and (min-width: 1441px) {
    html {
        font-size: 120%;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
    html {
        font-size: 100%;
    }
}
@media only screen and (max-width: 767px) {
    html {
        font-size: 90%;
    }
    .pagination.post .previous, .pagination.post .next {
        float: none;
        position: static;
    }
    header nav ul {
        display: none;
    }
    header nav select {
        display: inline-block;
    }
}
