/*
 *
 * miscellaneous
 *
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #222;
    min-width: 500px;
}

/*
 *
 *    =container
 *
 */
.container {
    position: relative;
    width: 80%;
    min-height: 450px;
    margin: 0 auto;
    background: #ccc;
}

/*
 *
 *    =header
 *
 */
header {
    text-align: center;
}

/*
 *
 *    =navigation
 *
 */
nav {
    text-align: center;
    padding: 10px 0;
}

nav select {
    display: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #222;
    text-decoration: none;
    padding: 0 10px;
}

nav ul li a:hover {
    background: #222;
    color: #FFF;
}

/*
*
*  =content
*
*/
a {
    color: #222;
}

.content {
    min-height: 450px;
    padding: 0 20px;
}

/*
*
*  =contactInfo
*
*/
.title {
    text-align: center;
    padding: 10px;
}

.hint {
    font-style: italic;
    text-align: center;
    font-size: 15px;
}

.social {
    padding: 10px;
}

.social p {
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #ccc;
}

.social a {
    display: none;
    text-decoration: none;
    color: #000;
    background: #222;
    color: #FFF;
}

.social p,.social a {
    padding: 10px;
}

/*
 *
 *    =posts
 *
 */
.posts > p {
    margin-bottom: 30px;
}

.posts > p:last-of-type {
    margin-bottom: 0;
}

.comments {
	padding: 10px 20px;
}

.comments h2 {
	margin-bottom: 5px;
}

/*
 *
 *    =pagination
 *
 */
.pagination {
    display: block;
    text-align: center;
	padding: 10px 0;
}

.pagination a {
	text-decoration: none;
}

.pagination .previous > i, .pagination .next > i {
	vertical-align: middle;
}

.pagination.post > .previous {
    padding-right: 10px;
}

.pagination.post > .next {
    padding-left: 10px;
}

.page_number {
    margin: 0 20px;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

/*
 *
 *    =footer
 *
 */
footer {
    border-top: 1px solid #222;
    margin-top: 10px;
    padding: 0 20px;
}

/*
 *
 *    =mediaQueries
 *
 */
@media screen and (max-width: 640px) {
    nav ul {
        display: none;
    }
    
    nav select {
        display: inline;
    }

}

/*
 *
 *    =clearfix
 *
 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/*start commented backslash hack*/
html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */