<!doctype html>
<html lang="en" ng-app="weatherApp">

  <head>
    <meta charset="utf-8">
    <title>Weather Search with AngularJS</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/kube.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
  <body ng-controller="WeatherCtrl">
    <div class="wrapper">
      <form class="forms text-centered">
        <ul>
          <li>
            <input type="text" size="30" class="input-search" ng-model="query"/>
            <button class="btn btn-round" ng-click="loadWeather()">Search</button>
          </li>
        </ul>
      </form>
      <div class="weather">
        <table class="bordered" ng-show="woeid != 0 && query">
          <thead>
            <tr>
              <th>Location</th>
              <th>Current Weather</th>
              <th>Tomorrow's Weather</th>
            </tr>
          </thead>

          <tbody>
            <td>{{ data.location.city }}, {{ data.location.region }}</td>
            <td>{{ data.item.condition.text }}, {{ data.item.condition.temp }} {{ data.units.temperature }}</td>

            <td>{{ data.item.forecast[1].day }}, {{ data.item.forecast[1].date }}: {{ data.item.forecast[1].text }} with high temperature of {{ data.item.forecast[1].high }} {{ data.units.temperature }} and low temperature of {{ data.item.forecast[1].low }} {{ data.units.temperature }}.</td>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app/app.js"></script>
  </body>

</html>