* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #222;
  color: white;
  font-family: sans-serif;
}

.quarter {
  float: left;
  width: 25%;
}

.quarter img {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.quarter .info {
  text-align: center;
  display: none;
}