---
title: Srikar Gudipati
layout: default
---

<div class="banner">
	<h1 class="about">About Me</h1>
	<p>Hey! Welcome to my personal website/blog! I'm Srikar, an enthusiastic developer and student! Get in touch with me by visiting the contact page!</p>
</div>

<div class="posts">
	<h1>Blog Posts</h1>

	<ul>
	{% for post in paginator.posts %}
		<li>
			<span>{{ post.date | date_to_string }}</span>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="/" class="previous"><i class="icon-arrow-left"></i></a>
    {% else %}
        <a href="/page{{paginator.previous_page}}" class="previous"><i class="icon-arrow-left"></i></a>
    {% endif %}
  {% else %}
    <span class="previous disabled"><i class="icon-arrow-left"></i></span>
  {% endif %}
  <span class="page-number">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next"><i class="icon-arrow-right"></i></a>
  {% else %}
    <span class="next disabled"><i class="icon-arrow-right"></i></span>
  {% endif %}
</div>