---
layout: default
title: Srikar Gudipati
---

<article>
    <h1 class="module">Blog Posts</h1>
    <ul class="posts">
        {% for post in paginator.posts %}
        <li>
            <span class="date">
                {% assign d = post.date | date: "%-d" %}
                {{ post.date | date: "%B" }}
                {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                {{ post.date | date: "%Y" }}
            </span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</article>

{% include home-pagination.html %}
