<form method="post" action="" class="forms addForm">
    <ul>
        <li>
            <label for="fname" class="bold">Student's First Name</label>
            <input type="text" ng-model="firstName" id="fname" />
        </li>
        <li>
            <label for="lname" class="bold">Student's Last Name</label>
            <input type="text" ng-model="lastName" id="lname" />
        </li>
        <li>
            <label for="tel" class="bold">Student's Telephone</label>
            <input type="text" ng-model="tele" id="tel" />
        </li>
        <li>
            <label for="addr" class="bold">Student's Street Address</label>
            <input type="text" ng-model="addr" id="addr" />
        </li>
        <li>
            <label for="city" class="bold">Student's City</label>
            <input type="text" ng-model="city" id="city" />
        </li>
        <li>
            <label for="state" class="bold">Student's State</label>
            <input type="text" ng-model="state" id="state" />
        </li>
        <li>
            <label for="zip" class="bold">Student's Zip</label>
            <input type="text" ng-model="zip" id="zip" />
        </li>
        <li>
            <button class="btn btn-round" ng-click="addStudent()">Add Student</button>
        </li>
    </ul>
</form>