<p class="text-centered searchLabel bold big"><label for="search">Search</label></p>
<input type="text" class="width-100" ng-model="search" id="search">

<table class="width-100 hovered students">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Telephone</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in students | filter:search | orderBy:'fname'">
			<td>{{ student.fname }}</td>
			<td>{{ student.lname }}</td>
			<td>{{ student.tel }}</td>
			<td>{{ student.address }}, {{ student.city }} {{student.state}}, {{ student.zip }}</td>
		</tr>
	</tbody>
</table>