---
import { getCollection } from 'astro:content'
import ContentLayout from '../../layouts/Content.astro'
import PostDetails from '../../components/PostDetails.astro'

const publishedBlogPosts = (
  await getCollection('blog', ({ data }) => {
    return data.draft !== true
  })
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
---

<ContentLayout>
  <h1 class="mb-10 font-display text-4xl font-bold uppercase md:text-5xl">
    Blog
  </h1>

  <ul role="list" class="space-y-6">
    {
      publishedBlogPosts.map(post => (
        <li>
          <PostDetails post={post} />
        </li>
      ))
    }
  </ul>
</ContentLayout>
