		</div>

		<!-- JavaScript Scripts -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="/js/main.js"></script>
		{% if page.toc %}
		<script>
			var ToC = "<nav class='table-of-contents'>" + "<p>Table of Contents:</p>" + "<ul>";
			var el, title, link;
			$(".main h2").each(function() {
			    el = $(this);
			    title = el.text();
			    title = title.substring(0, title.length - 1).trim();
			    link = el.children("a").attr("href");
			    newLine = "<li>" + "<a href='" + link + "'>" + title + "</a>" + "</li>";
			    ToC += newLine;
			});
			ToC += "</ul>" + "</nav>";
			$(".post-info").append(ToC);
		</script>
		{% endif %}
		<script type="text/javascript">
	        var disqus_shortname = 'srikarg';

	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
		{% if page.comments %}
	    <script type="text/javascript">
			var disqus_shortname = 'srikarg';

			(function () {
			    var s = document.createElement('script'); s.async = true;
			    s.type = 'text/javascript';
			    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
	    </script>
		{% endif %}
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39675222-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
    </body>
</html>