<header class="site-header">
    <nav class="site-navbar" role="navigation">
        <div class="navbar-brand">
            <a href="/#"><img src="/img/logo.svg" alt="Logo" /></a>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu">
            <i class="fas fa-bars"></i>
        </a>

        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-item"><a class="smooth-scroll" href="/#">Home</a></div>
            <div class="navbar-item"><a class="smooth-scroll" href="/#about">About</a></div>
            <div class="navbar-item"><a class="smooth-scroll" href="/#projects">Projects</a></div>
            <div class="navbar-item"><a href="/blog">Blog</a></div>
            <div class="navbar-item"><a href="https://www.dropbox.com/s/tupa9aputm0n09w/Resume.pdf?dl=0" target="_blank">Resume</a></div>
        </div>
    </nav>
</header>