<header>
	<h1 class="site-title"><a href="/">Srikar Gudipati</a></h1>
	
	<nav>
		<ul class="clearfix">
			<li><i class="icon-home"></i> <a href="/">Home</a></li>
			<li><i class="icon-lab"></i> <a href="/labs">Labs</a></li>
			<li><i class="icon-suitcase"></i> <a href="/resume">Resume</a></li>
			<li><i class="icon-address-book"></i> <a href="/contact">Contact</a></li>
		</ul>

		<select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
			<option>Navigation</option>
			<option value="/">Home</option>
			<option value="/labs">Labs</option>
			<option value="/resume">Resume</option>
			<option value="/contact">Contact</option>
		</select>
	</nav>

	<form class="search">
		<i class="icon-search"></i>
		<input type="text" class="search-field" placeholder="Search Posts!" name="search" />
	</form>

	<div class="search-results"><ul></ul></div>
</header>