<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Srikar Gudipati" /> 
	<meta name="robots" content="index,follow" /> 
	<meta name="revisit-after" content="1 days" /> 
	<meta name="description" content="My personal website/blog!" />

	<link rel="stylesheet" href="/css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://srikarg.github.io/atom.xml" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<title>{{ page.title }}</title>
</head>

<body>
	<div class="wrapper">