<!DOCTYPE html>
<html lang="en">
<head>
<title>{% if page.title != "srikar gudipati" %} {{ page.title }} | {% endif %}srikar gudipati</title>
<meta charset="utf-8" />
<meta name="author" content="Srikar Gudipati"> 
<meta name="robots" content="index,follow"> 
<meta name="revisit-after" content="1 days"> 
<meta name="description" content="My personal website.">
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://srikarg.github.com/atom.xml" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'/>
</head>
<body>
<div class="container">
<header class="clearfix">