<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Srikar Gudipati" /> 
	<meta name="robots" content="index,follow" /> 
	<meta name="revisit-after" content="1 days" />

	{% if page.layout == "post" %}
	<meta name="description" content="{{ page.title }} | {{ site.name }} - {{ page.content | strip_html | truncate: 150 }}"/>
	<meta name="og:description" content="{{ page.title }} | {{ site.name }} - {{ page.content | strip_html | truncate: 150 }}">
	{% else %}
		{% if page.title == "Home" %}
	<meta name="description" content="Blog and website of Srikar Gudipati, a young developer!" />
    <meta name="og:description" content="Blog and website of Srikar Gudipati, a young developer!" />
    	{% else %}
    <meta name="description" content="{{ page.title }} | {{ site.name }}" />
    <meta name="og:description" content="{{ page.title }} | {{ site.name }}" />
	    {% endif %}
	{% endif %}

	<link rel="stylesheet" href="/css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://srikarg.github.io/atom.xml" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<title>{% if page.title == "Home" %}{{ site.name }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}</title>
</head>

<body>
	<div class="wrapper">