<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico?v=1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/kube.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    {% if page.share %}
        <script data-cfasync="false" type="text/javascript" src="//filamentapp.s3.amazonaws.com/2b879090602ee3272280ba6c5d5baa45.js" async="async"></script>
    {% endif %}
</head>
<body>
