        {% if page.comments %}
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <div id="disqus-thread"></div>
        {% endif %}

        {% if page.share %}
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_hackernews"></a>
                <a class="addthis_button_pocket"></a>
                <a class="addthis_button_email"></a>
            </div>
            <script src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51d0955d18b1633a"></script>
        {% endif %}
