<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/kube.min.js"></script>
<script src="/js/main.js"></script>
{% if page.toc %}
<script src="/js/toc.js"></script>
{% endif %}
<script>!function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-39675222-1","auto"),ga("send","pageview");</script>
<script type="text/javascript">var disqus_shortname='srikarg';(function(){var s=document.createElement('script');s.async=true;s.type='text/javascript';s.src='//'+disqus_shortname+'.disqus.com/count.js';(document.getElementsByTagName('HEAD')[0]||document.getElementsByTagName('BODY')[0]).appendChild(s)}());</script>
{% if page.comments %}
<script type="text/javascript">var disqus_shortname='srikarg';(function(){var dsq=document.createElement('script');dsq.type='text/javascript';dsq.async=true;dsq.src='//'+disqus_shortname+'.disqus.com/embed.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(dsq)})();</script>
{% endif %}
