footer {
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 18px;
    font-size: 1.8rem;
}

footer table {
    margin: 0;
}

footer td {
    padding: 20px;
    padding: 2rem;
    border: none;
    text-align: center;
}
