header {
    background: $header-color;
    color: $header-text-color;
    padding: 20px;
    padding: 2rem;
    text-align: center;
}

header a, .navbar a {
    color: $header-text-color;
    text-decoration: none;
}

header a:hover, .navbar a:hover {
    text-decoration: none;
    color: $header-text-color;
}

header img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

header .social {
    list-style: none;
    padding: 0;
}

header .social li {
    display: inline-block;
}

header i.fa {
    font-size: 30px;
    font-size: 3rem;
    padding-right: 16.5px;
    padding-right: 1.65rem;
}

header .navbar {
    margin: 0 0 20px 0;
    margin: 0 0 2rem 0;
}

header .navbar ul {
    padding: 0;
    text-align: center;
}

header .navbar li {
    float: none;
    display: inline-block;
    margin-right: 0;
    padding-right: 16.5px;
    padding-right: 1.65rem;
}
