.site-header {
  grid-area: header;
  background: $header-color;
  color: $header-text-color;
  position: fixed;
  width: 100%;
}

.site-navbar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a {
    display: block;
  }
}

.site-navbar .navbar-brand {
  padding: 2rem 0 2rem 5%;

  img {
    width: 80px;
  }
}

.site-navbar .navbar-burger {
  padding: 2rem 5% 2rem 0;
  color: $header-text-color;
  cursor: pointer;
  display: block;
  font-size: 3.6rem;
}

.site-navbar .navbar-menu {
  &.active {
    display: flex;
  }

  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;

  .navbar-item {
    text-align: center;
    font-size: 3.6rem;
    text-transform: uppercase;

    a {
      padding: 2rem;
      color: $header-text-color;
      text-decoration: none;

      &:hover {
        background: $header-text-color;
        color: $header-color;
      }
    }
  }
}

@media all and (min-width: 980px) {
  .site-navbar {
    padding: 0;
  }

  .site-navbar .navbar-burger {
    display: none;
  }

  .site-navbar .navbar-menu {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 0;
    padding-right: 5%;
  }
}
