.site-container {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: minmax(100px, auto) auto 75px;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

.wrapper {
  grid-area: content;
}
