.top {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  background: $header-color;
  color: $header-text-color;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.4rem;

  &:focus,
  &:visited {
    color: $header-text-color;
    text-decoration: none;
  }

  &:hover {
    background: desaturate($header-color, 20%);
    color: $header-text-color;
    text-decoration: none;
  }
}

.post-header {
  background: $header-color;
  color: $header-text-color;
  width: 100%;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: $header-text-color;
  }
}

.post {
  padding: 50px 5%;
  max-width: 1024px;
  margin: 0 auto;

  pre {
    font-size: 90%;
    line-height: 24px;
    overflow: auto;
    padding: 2rem;
    word-wrap: normal;
  }

  figure {
    margin: 1.6rem 0;
    padding: 1.6rem;
    background: $header-color;
    color: $header-text-color;
    border-radius: 0.4rem;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 50rem;
    }

    figcaption {
      text-align: center;
      font-size: 1.8rem;
      padding-top: 1.6rem;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 6px solid $header-color;
    font-size: 3rem;
    margin-bottom: 1.6rem;
    line-height: 1.3;

    p:before {
      content: '\201c';
    }

    p:after {
      content: '\201d';
    }
  }

  #disqus_thread {
    margin-top: 6rem;
  }

  .spotify {
    margin: 3rem 0;
    text-align: center;
  }

  .codepen-container {
    margin-bottom: 1.6rem;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 3rem;
    margin-bottom: 1.6rem;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .addthis_sharing_toolbox {
    width: 110px;
    margin: 2rem auto;
  }
}
