.post-header h1 {
    color: $header-text-color;
}

figure {
    margin: 16px 0;
    margin: 1.6rem 0;
    padding: 16px;
    padding: 1.6rem;
    background: $header-color;
    color: $header-text-color;
    border-radius: 4px;
    border-radius: 0.4rem;

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        max-width: 50rem;
    }

    figcaption {
        text-align: center;
        font-size: 18px;
        font-size: 1.8rem;
        padding-top: 16px;
        padding-top: 1.6rem;
    }
}

blockquote {
    padding-left: 10px;
    padding-left: 1rem;
    border-left: 6px solid $header-color;
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
    line-height: 1.3;

    p:before {
        content: "\201c"
    }

    p:after {
        content:"\201d";
    }
}

#disqus_thread {
    margin-top: 60px;
    margin-top: 6rem;
}

.spotify {
    margin: 30px 0;
    margin: 3rem 0;
    text-align: center;
}

.codepen {
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    padding-top: 3rem;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.addthis_sharing_toolbox {
    width: 180px;
    margin: 20px auto;
    margin: 2rem auto;
}

.top {
    display: none;
    position: fixed;
    bottom: 16px;
    bottom: 1.6rem;
    right: 16px;
    right: 1.6rem;
    background: $header-color;
    color: $header-text-color;
    text-decoration: none;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 8px;
    padding: 0.8rem;
    border-radius: 4px;
    border-radius: 0.4rem;

    &:hover {
        background: desaturate($header-color, 20%);
        color: $header-text-color;
        text-decoration: none;
    }
}
