---
import { Icon } from 'astro-icon'
import type { Page } from 'astro'

interface Props {
  page: Page
}

const { page } = Astro.props
---

<div class="mt-6 flex items-center justify-between">
  {
    page.url.prev && (
      <a href={page.url.prev}>
        <Icon
          pack="carbon"
          name="previous-outline"
          class="aspect-square w-10 text-red-800 dark:text-white"
        />
      </a>
    )
  }
  <span class="mx-auto font-display text-xl font-bold uppercase"
    >{`Page ${page.currentPage} of ${page.lastPage}`}</span
  >
  {
    page.url.next && (
      <a href={page.url.next}>
        <Icon
          pack="carbon"
          name="next-outline"
          class="aspect-square w-10 text-red-800 dark:text-white"
        />
      </a>
    )
  }
</div>
