---
interface Props {
  link: string
  children: string
}

const { link } = Astro.props
---

<a
  class="font-display inline-block rounded-sm bg-red-800 px-4 py-2 text-white uppercase shadow-lg transition-transform hover:bg-red-600 hover:shadow-xl active:scale-95 dark:bg-slate-800 dark:hover:bg-slate-600"
  href={link}
>
  <slot />
</a>
