---
import { Icon } from 'astro-icon'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
const { remarkPluginFrontmatter } = await post.render()
const publishDate = post.data.publishDate.toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'long',
  day: '2-digit',
})
---

<a href={`/blog/${post.slug}`}>
  <div
    class="group bg-red-800 p-6 font-display uppercase text-white transition-transform hover:translate-x-5 dark:bg-slate-800"
  >
    <h2 class="mb-2 text-xl group-hover:font-bold md:text-2xl">
      {post.data.title}
    </h2>
    <p>
      <Icon pack="ph" name="clock" class="mr-2 inline h-6 w-6" />
      {publishDate}
    </p>
    <p>
      <Icon pack="ph" name="book" class="mr-2 inline h-6 w-6" />
      {remarkPluginFrontmatter.minutesRead}
    </p>
  </div></a
>
