<div class="panel">
	<form>
		<fieldset>
			<div class="form-group">
				<label for="titleSearch">Search Titles</label>
				<input type="text" class="form-control" id="titleSearch" placeholder="Enter a title to search for!" ng-model="search.title">
			</div>
			<div class="form-group">
				<label for="mpaaSearch">Search MPAA Rating</label>
				<input type="text" class="form-control" id="mpaaSearch" placeholder="Enter a MPAA rating to search for!" ng-model="search.mpaa_rating">
			</div>
		</fieldset>
	</form>
</div>

<div class="movie panel clearfix" ng-repeat="movie in movies | filter:search">
	<img class="pull-left" ng-src="{{ movie.posters.detailed }}">

	<div class="details pull-right">
		<h3><a ng-href="#/movie/{{ movies.indexOf(movie) }}">{{ movie.title }}</a></h3>
		<ul class="list-group">
			<li class="list-group-item">Rated {{ movie.mpaa_rating }}.</li>
			<li class="list-group-item">Releases on {{ movie.release_dates.theater }}.</li>
			<li class="list-group-item">Runs for {{ movie.runtime }} minutes.</li>
			<li class="list-group-item" ng-class="{'alert alert-danger': {{ movie.ratings.critics_score }} < 50, 'alert alert-success': {{ movie.ratings.critics_score }} >= 50}">Received a critics score of {{ movie.ratings.critics_score }}%</li>
		</ul>
	</div>
</div>