<div class="movie-detailed row">
	<div class="col-lg-4">
		<img ng-src="{{ movie.posters.original }}">
	</div>
	<div class="col-lg-8">
		<div class="panel">
			<div class="panel-heading">
				<h2>{{ movie.title }}</h2>
			</div>
			<h3>Synopsis</h3>
			<p>{{ movie.synopsis }}</p>
			<h3>Critics</h3>
			<p>{{ movie.critics_consensus }}</p>
			<h3>Cast</h3>
			<ul>
				<li ng-repeat="person in movie.abridged_cast">
					{{ person.name }} starring as {{ person.characters[0] }}
				</li>
			</ul>
			<h3>View on IMDB</h3>
			<p><a ng-href="http://www.imdb.com/title/tt{{ movie.alternate_ids.imdb }}/">Link</a></p>
		</div>
	</div>
</div>

<ul class="pager">
	<li ng-class="{disabled: currentPage == 0}"><a ng-href="#/movie/{{ prevPage }}">Previous</a></li>
	<li ng-class="{disabled: currentPage == 15}"><a ng-href="#/movie/{{ nextPage }}">Next</a></li>
</ul>