---
import { Icon } from 'astro-icon'

const currentYear = new Date().getFullYear()
---

<script is:inline>
  if (!window.getCurrentTheme) {
    window.getCurrentTheme = () => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    }
  }

  if (window.getCurrentTheme() === 'dark') {
    document.documentElement.classList.remove('light')
    document.documentElement.classList.add('dark')
  } else {
    document.documentElement.classList.remove('dark')
    document.documentElement.classList.add('light')
  }
</script>

<script>
  const STORAGE_KEY = 'theme'
  const DARK_PREFERENCE = '(prefers-color-scheme: dark)'

  const THEMES = {
    DARK: 'dark',
    LIGHT: 'light',
  }

  let currentTheme

  const prefersDarkThemes = () => window.matchMedia(DARK_PREFERENCE).matches

  const applyTheme = () => {
    document.getElementById('dark-mode')?.addEventListener('click', toggleTheme)
    document
      .getElementById('light-mode')
      ?.addEventListener('click', toggleTheme)

    const preferredTheme = prefersDarkThemes() ? THEMES.DARK : THEMES.LIGHT

    currentTheme = localStorage.getItem(STORAGE_KEY) ?? preferredTheme

    if (currentTheme === THEMES.DARK) {
      document.documentElement.classList.remove(THEMES.LIGHT)
      document.documentElement.classList.add(THEMES.DARK)
    } else {
      document.documentElement.classList.remove(THEMES.DARK)
      document.documentElement.classList.add(THEMES.LIGHT)
    }
  }

  const toggleTheme = () => {
    const preferredTheme = prefersDarkThemes() ? THEMES.DARK : THEMES.LIGHT

    currentTheme = localStorage.getItem(STORAGE_KEY) ?? preferredTheme

    localStorage.setItem(
      STORAGE_KEY,
      currentTheme === THEMES.DARK ? THEMES.LIGHT : THEMES.DARK
    )

    applyTheme()
  }

  document.addEventListener('astro:after-swap', applyTheme)

  applyTheme()
</script>

<footer
  class="sticky bottom-0 z-50 bg-red-800 p-6 text-center text-white dark:bg-slate-800"
>
  <div class="mx-auto flex max-w-screen-2xl items-center">
    <div class="mx-auto font-display uppercase">
      <p class="mb-2 text-lg">&copy; {currentYear} Srikar Gudipati</p>
      <small class="block">🚀 Built by Astro</small>
    </div>

    <button id="dark-mode" class="block dark:hidden">
      <Icon pack="ph" name="moon" class="h-7 w-7 fill-current" />
    </button>
    <button id="light-mode" class="hidden dark:block">
      <Icon pack="ph" name="sun" class="h-7 w-7 fill-current" />
    </button>
  </div>
</footer>
