{% include header.html %}
	<h1 class="responsive_header">{{ page.title }}</h1>
</header>
{% include navigation.html %}
<div class="content">
	{{ content }}
</div>
{% include footer.html %}
	</div>
	<!-- Javascript Files -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/fittext.js"></script>
		<script src="/js/main.js"></script>
		<script type="text/javascript">
			var disqus_shortname = 'srikarg';

			(function () {
			   var s = document.createElement('script'); s.async = true;
			   s.type = 'text/javascript';
			   s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
	   </script>
	</body>

</html>