{% include head.html %}
{% include header.html %}
<div class="main">
	{% include post_header.html %}
	{{ content }}

{% if page.comments %}
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

<div class="pagination post">
	{% if page.previous %}
	<a href="{{ page.previous.url }}" class="previous"><i class="icon-caret-left icon-2x"></i></a>
	{% else %}
	<span class="previous disabled"><i class="icon-caret-left icon-2x"></i></span>
	{% endif %}
	
	{% if page.next %}
	<a href="{{ page.next.url }}" class="next"><i class="icon-caret-right icon-2x"></i></a>
	{% else %}
	<span class="next disabled"><i class="icon-caret-right icon-2x"></i></span>
	{% endif %}
</div>
</div>
{% include sidebar.html %}

{% include footer.html %}

{% if page.comments %}
<script type="text/javascript">
	var disqus_shortname = 'srikarg';

	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
{% endif %}
{% include foot.html %}