---
import PageLayout from './Page.astro'
---

<PageLayout>
  <main class="grow p-6">
    <section class="prose prose-slate mx-auto dark:prose-invert">
      <slot />
    </section>
  </main>
</PageLayout>
