---
interface Props {
  lang?: string
  title?: string
  description?: string
}

import MainHead from '../components/MainHead.astro'
import Header from '../components/Header/Header.astro'
import Footer from '../components/Footer/Footer.astro'

const { lang, title, description } = Astro.props
---

<!doctype html>
<html class="scroll-pt-28 scroll-smooth" lang={lang || 'en'}>
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="flex h-full min-h-screen flex-col dark:bg-slate-700">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
